
@{
    ViewBag.Title = "NL_CONGTRINH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Template/css/theme.css" rel="stylesheet">
@*@model KEHOACHQH.DAL.HIENTRANG*@
@model KHQH.Models.DB.CombineHienTrang
<br />
<br />
<br />

<style>
</style>
<p class="SRheader">@Model.SetupPage.TITLE</p>
<input id="IDKYQH" value=0 class="input-text js-input" type="hidden">
<input id="IDROW" value=0 class="input-text js-input" type="hidden">
<input id="ISCAPTINH" value=0 class="input-text js-input" type="hidden">

<br />

<div class="row">
    @**@
    <div class="col-md-4">
        <a href="#" id="btnAdd" class="button4" style="background-color:#4ef18f">Thêm mới</a>
    </div>
    <div class="col-md-4">
        @(Html.DevExtreme().SelectBox()
                .DataSource(d => d.WebApi()
                            .RouteName("GetDanhMuc")
                            .LoadAction("KYQH")
                            .Key("ID"))
                             .DisplayExpr("TEN").Width(300)
                             .SearchEnabled(true).Placeholder("Chọn kỳ kế hoạch quy hoạch ")
                            .AcceptCustomValue(true).OnValueChanged("CapNhatGrid").ID("NameKYQH")
        )
    </div>


</div>

<br/>

@if (Model.SetupPage.TYPE == 5)
{



    @(Html.DevExtreme().DataGrid<KEHOACHQH.DAL.CONGTRINHDUAN>()
                           .ID("grv")
                           .Selection(s => s.Mode(SelectionMode.Single))


                       .ShowBorders(true)
                       .ColumnAutoWidth(true)
                       .FilterRow(f => f.Visible(true))
                       .HeaderFilter(f => f.Visible(true))
                       .ShowRowLines(true)
                       .ColumnHidingEnabled(true)
                       .Paging(p => p.PageSize(20))
                       .SearchPanel(searchPanel => searchPanel.Visible(true))
                       .Columns(columns =>
                       {
                           columns.AddFor(m => m.ID).Caption("STT").AllowEditing(false);
                           columns.AddFor(m => m.TENCONGTRINH).Caption("Tên công trình").AllowEditing(true);
                           columns.AddFor(m => m.MACT).Caption("MACT").AllowEditing(true);
                           columns.AddFor(m => m.TENDIADIEM).Caption("Tên địa điểm").AllowEditing(true);
                           columns.AddFor(m => m.VITRITRENBD).Caption("Vị trí trên bản đồ").AllowEditing(true);
                           columns.AddFor(m => m.SUDUNGVAOLD).Caption("Sử dụng vào Loại đất").AllowEditing(true);
                           columns.AddFor(m => m.NAMTH).Caption("Năm").AllowEditing(true);

                           columns.AddFor(m => m.DIENTICH_HT).Caption("Diện tích hiện trạng").AllowEditing(true);
                           columns.AddFor(m => m.DIENTICH_KH).Caption("Diện tích Kế hoạch").AllowEditing(true);
                           columns.AddFor(m => m.DIENTICH_TANGTHEM).Caption("Diện tích tăng thêm").AllowEditing(true);

                           columns.AddFor(m => m.ID_LOAICT).Caption("Loại công trình")
                                      .Lookup(lookup => lookup
                                      .DataSource(Model.LstCT.Select(n => new { n.ID, n.LOAIHANGMUC }))
                                      .DisplayExpr("LOAIHANGMUC")
                                      .ValueExpr("ID"));
                           columns.AddFor(m => m.MAHUYEN).Caption("Huyện")
                                  .Lookup(lookup => lookup
                                  .DataSource(Model.LstHuyen.Select(n => new { n.MA_KVHC, n.TEN_KVHC }))
                                  .DisplayExpr("TEN_KVHC")
                                  .ValueExpr("MA_KVHC"));
                           columns.AddFor(m => m.MAXA).Caption("Xã/phường")
                                  .Lookup(lookup => lookup
                                  .DataSource(Model.LstXa.Select(n => new { n.MA_KVHC, n.TEN_KVHC }))
                                  .DisplayExpr("TEN_KVHC")
                                  .ValueExpr("MA_KVHC"));

                           columns.AddFor(m => m.CAPTINH).DataType(GridColumnDataType.Boolean).Caption("Cấp Tỉnh").AllowEditing(true);


                       }).OnEditingStart("onRowClick")
                           .Editing(e => e.Mode(GridEditMode.Popup)
                           .AllowUpdating(true)
                           .AllowAdding(false)
                           .AllowDeleting(true)
                           .UseIcons(true)
                           .Popup(p => p
                               .Title("Thông tin công trình")
                               .ShowTitle(true)
                               .Width(700)
                               .Height(525)
                           )
                          
                ))
    <br />
}




<div class="modal fade" id="modalHienTrang" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="SRheader" style="color:#36C970">
                    <i style="width:50px" class="bi bi-pencil-square"></i>
                    Thông tin @Model.SetupPage.TITLE
                </h2>
                <button type="button" style="position:absolute;right:0px;top:0px;margin:10px" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @using (Html.DevExtreme().ValidationGroup("ValidateText"))
                {

                    <div class="row RowMagin">

                        <div class="col-sm">
                            <p class="SRtitle2" style="font-weight:bold;text-align:center" id="TenKy"></p>
                        </div>
                    </div>

                    <div class="row RowMagin">

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Tên công trình</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.TENVUNG).IsValid(true))
                        </div>
                    </div>
                    <div class="row RowMagin">

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Mã CT</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.MAHT).IsValid(true))
                        </div>
                    </div>

                    <div class="row RowMagin">

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Sử dụng vào loại đất</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.SUDUNGVAOLD).IsValid(true))
                        </div>

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Ví trí bản đồ</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.VITRITRENBD).IsValid(true))
                        </div>

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Địa điểm</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.TENDIADIEM).IsValid(true))
                        </div>

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Năm</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.NAM).IsValid(true))
                        </div>
                    </div>
                    

                    <div class="row RowMagin">

                        <div class="col-sm">

                         
                           
                            
                                <label style="text-align:left" class="SRBody">Loại công trình</label>

                                @(Html.DevExtreme().SelectBoxFor(n => n.HienTrang.ID_LOAICT)
                                        .DataSource(Model.LstCT.Select(n => new { n.ID, n.LOAIHANGMUC }))
                                        .SearchEnabled(true).Placeholder("Loại công trình")
                                        .AcceptCustomValue(true)
                                        .ValueExpr("ID").ID("ID_LOAICT").IsValid(true)
                                        .DisplayExpr("LOAIHANGMUC")
                                )
                            
                        </div>

                        <div class="col-sm">
                                <label style="text-align:left" class="SRBody">Diện tích HT</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.DIENTICH_HT).IsValid(true))
                        </div>

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Diện tích KH</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.DIENTICH_KH).IsValid(true))
                        </div>
                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Diện tích tăng thêm</label>
                            @(Html.DevExtreme().TextBoxFor(n => n.HienTrang.DIENTICH).IsValid(true))
                        </div>
                    </div>


                    <div class="row RowMagin">



                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">TP/Huyện</label>
                            @(Html.DevExtreme().SelectBoxFor(n => n.HienTrang.MAHUYEN)
                                .DataSource(Model.LstHuyen.Select(n => new { n.MA_KVHC, n.TEN_KVHC }))
                                .SearchEnabled(true).Placeholder("Huyện")
                                .AcceptCustomValue(true).IsValid(true)
                                .ValueExpr("MA_KVHC")
                                .DisplayExpr("TEN_KVHC").ID("IDHUYEN").OnValueChanged("GetIDHUYEN").Value(Convert.ToString(@ViewData["MaHuyen"]))
                            )
                        </div>

                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Phường/Xã</label>

                            @(Html.DevExtreme().SelectBoxFor(n => n.HienTrang.MAXA)
                            .DataSource(Model.LstXa.Select(n => new { n.MA_KVHC, n.TEN_KVHC }))
                            .SearchEnabled(true).Placeholder("Xã")
                            .AcceptCustomValue(true)
                            .ValueExpr("MA_KVHC").IsValid(true)
                            .DisplayExpr("TEN_KVHC").ID("IDXA").Value(Convert.ToString(@ViewData["MaXa"]))
                            )


                          


                        </div>
                        <div class="col-sm">
                            <label style="text-align:left" class="SRBody">Cấp tỉnh</label>
                            <br />
                            @(Html.DevExtreme().CheckBoxFor(n => n.HienTrang.CAPTINH).OnValueChanged("CapTinhCheck").Value(Convert.ToBoolean(@ViewData["ISCAPTINH"])))

                        </div>

                    </div>
                <div class="row RowMagin">
                                <div class="col-sm">
                                    <div id="fileuploader-container">
                                        <input type="file" id="customFile" value="Choose file" multiple />
                                    </div>
                                </div>
                            </div>

                            <div class="row rone mx-1 my-3">

                                <button type="submit" id="btnSave" style="background:#36C970;border-color:#36C970" class="btn btn-primary SRbutton">Lưu</button>
                            </div>
                            }
                            <p style="color:red" class=".SRBody" id="lbError"></p>



                        </div>

        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <img id="ImgLoading" class="unActiveLoading" src="~/Content/img/Spinner-1s-200px.gif" alt="">
        </div>
    </div>


</div>




@*<div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>*@

<script>
    // var apiRootUrl = "http://localhost:63563/"
    var host = '//' + window.location.host

    function ChonHuyenXa(e) {
        console.log(e)
        const v = e.component.option("value");
        console.log(v)

        if (v === null) {
            e.component.option("value", 747);
        }
        @*e.data.MAHUYEN = '@ViewData["MaHuyen"]';
        e.data.MAXA = '@ViewData["MAXA"]';
        e.data.CAPTINH = '@ViewData["ISCAPTINH"]' == 'True' ? true : false;*@

    }

    var DataGirdCRUDModel = (function () {
        function DataGirdCRUDModel(key, actionLoad, actionInsert, actionUpdate, actionDelete) {
            this.Key = key;
            this.ActionLoad = API_HOST + actionLoad;
            this.ActionInsert = actionInsert;
            this.ActionUpdate = actionUpdate;
            this.ActionDelete = API_HOST + actionDelete;
        }
        return DataGirdCRUDModel;
    }());
    InitDataSource = function (obj) {
        var gridSource = {
            store: (DevExpress.data).AspNet.createStore({
                key: obj.Key,
                loadUrl: obj.ActionLoad,
                insertUrl: obj.ActionInsert,
                updateUrl: obj.ActionUpdate,
                deleteUrl: obj.ActionDelete,
                loadParams: obj.LoadParams,
            })
        };
        return gridSource;
    };
    window.onload = function () {
        //var grid = $("#grv").dxDataGrid("instance");
        //var objAction = new DataGirdCRUDModel("ID", "api/NhapLieu/GetHienTrangByID?ID=" + $('#IDKYQH').val(), null, null, "api/ApiCrane/DeleteCrane");
        //grid.option("dataSource", InitDataSource(objAction));
    }
    function onRowClick(e) {
        $('#IDROW').val(e.key)

    }

    function validateText() {
        return DevExpress.validationEngine.validateGroup("ValidateText").isValid;
        }
    function CapNhatGrid(e) {
        $('#IDKYQH').val(e.value.ID)

        if ('@Model.SetupPage.TYPE' == '5')
        {
            var grid = $("#grv").dxDataGrid("instance");
            var objAction = new DataGirdCRUDModel("ID", "api/NhapLieu/GetCongTrinhByID?ID=" + e.value.ID, "/api/NhapLieu/PostCongTrinh?IDKYQH=" + e.value.ID, "/api/NhapLieu/PutCongTrinh", "/api/NhapLieu/DeleteCongTrinh");
            grid.option("dataSource", InitDataSource(objAction));
        }




    }

    function CapTinhCheck(e) {
        $('#ISCAPTINH').val(e.value)

    }

    function GetIDHUYEN(e) {
        $.ajax({
            url: '/api/GetDanhMuc/KVHCByIDHUYEN?ID=' + e.value,
            type: 'get',
            success: function (data) {
                console.log(data)
                var newStore = new DevExpress.data.ArrayStore({
                    data: data.data,
                    key: 'MA_KVHC',

                })
                $("#IDXA").dxSelectBox({
                    dataSource: newStore
                })
            },
            error: function () {

            }
        })
    }
    $(document).ready(function () {


        //function validateText() {
        //    console.log(DevExpress.validationEngine)
        //    return DevExpress.validationEngine.validateGroup("ValidateText).isValid;
        //}

        $('#btnAdd').click(function () {
            console.log('bind du liẹu')
                console.log('@ViewData["MaHuyen"]')

            console.log($('#NameKYQH').dxSelectBox("instance").option().displayValue)
            if ($('#NameKYQH').dxSelectBox("instance").option().displayValue!=null)
            {
                $('#modalHienTrang').modal('show');

            }
            else {
                alert("Vui lòng chọn kỳ quy hoạch")
            }

            $('#TenKy').text("" + $('#NameKYQH').dxSelectBox("instance").option().displayValue)
        })

        $('#btnSave').click(function () {
            if (!validateText()) {

                return;
            }


            $("#ImgLoading").removeClass("unActiveLoading");
            $("#ImgLoading").addClass("ActiveLoading");

            var files = $("#customFile").get(0).files;
            console.log($("#customFile"))
            console.log(files)
             var CountExtenFile= 0;
            if (files.length < 3) {
                alert("Vui lòng chọn shape file gồm 3 file sha,shx,dbf")
                $("#ImgLoading").removeClass("ActiveLoading");
                $("#ImgLoading").addClass("unActiveLoading");
                return;
            }
            else {
                for (var index = 0; index < files.length; index++) {
                    var ext = $("#customFile").val().split('.').pop();
                    if (ext == "shp" || ext == "dbf" || ext == "shx")
                    {
                        CountExtenFile++;

                    }
                }
             }
            if (CountExtenFile != 3)
            {
                alert("Vui lòng chọn shape file gồm 3 file sha,shx,dbf")
                $("#ImgLoading").removeClass("ActiveLoading");
                $("#ImgLoading").addClass("unActiveLoading");
                return;
            }


            var data = new FormData();
            data.append("IDKYQH", $('#IDKYQH').val());


                data.append("NAM", $('#HienTrang_NAM').val());
                data.append("DIENTICH", $('#HienTrang_DIENTICH').val());
                data.append("DIENTICH_HT", $('#HienTrang_DIENTICH_HT').val());
                data.append("DIENTICH_KH", $('#HienTrang_DIENTICH_KH').val());
                data.append("SUDUNGVAOLD", $('#HienTrang_SUDUNGVAOLD').val());
                data.append("TENDIADIEM", $('#HienTrang_TENDIADIEM').val());
                data.append("VITRITRENBD", $('#HienTrang_VITRITRENBD').val());
                data.append("ID_LOAICT", $('#ID_LOAICT').dxSelectBox("instance").option().value);

            data.append("MAXA", $('#IDXA').dxSelectBox("instance").option().value);
            data.append("MAHUYEN", $('#IDHUYEN').dxSelectBox("instance").option().value);
            data.append("CAPTINH", $('#ISCAPTINH').val() == 0 ? false : $('#ISCAPTINH').val());
            data.append("TENVUNG", $('#HienTrang_TENVUNG').val());
            data.append("MAHT", $('#HienTrang_MAHT').val());


            for (var index = 0; index < files.length; index++) {
                    data.append("shapeUpload", files[index]);
            }


           // console.log($('#IDMDSD').dxSelectBox("instance").option().value)
           // console.log($('#HienTrang_DIENTICH').val())

            $.ajax({
                url: host + '/api/NhapLieu/Upload?TYPE='+@Model.SetupPage.TYPE,
                type: 'post',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    console.log(data)
                    if (data)
                    {
                        window.location.href = host + '/NhapLieu/NL_CONGTRINH'

                    }
                    else {
                        $("#ImgLoading").removeClass("ActiveLoading");
                        $("#ImgLoading").addClass("unActiveLoading");
                    }

                },
                error: function (err) {
                    console.log(err)
                }

            });

        })






    });
</script>

